.right{
    margin-top: 20px;
}
.right img{
    background-color: transparent;
}
header{
    background-color: #89C24F;
}
ul{
    list-style: none;
    background-color: transparent;
    margin: 8px ;
}
li{
    font-size: 11px;
    background-color: transparent;
}
.bold{
    font-weight: bold !important;
}