<header class="container1">
   <div class="row1">
       <div class="dropdown">
        <button class=" menubtn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" ><img src="../../../assets/Path 38.svg" alt=""></button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Create New SR</a>
            <a class="dropdown-item" href="#">Add New Order</a>
            <a class="dropdown-item" href="#">Send Duplicate Bill</a>
            <a class="dropdown-item" href="#">EVO/Charji Package Change</a>
            <a class="dropdown-item" href="#">EVO/Charji Package Re-Subscription</a>
            <a class="dropdown-item" href="#">EVO/Charji Bucket Subscription</a>
            <a class="dropdown-item" href="#">Provisioning Complaint (ICMS) </a>
            <a class="dropdown-item" href="#">E-Bill Activation</a>
            <button class="btn xyz">Customized Reports</button>
            <button class="btn xyz">I-Mail</button>
            <button class="btn xyz">Knowledge Base</button>
            <button class="btn xyz">CRM</button>
            <button class="btn xyz">ICMS</button>
            <button class="btn xyz">Emulator</button>
            <button class="btn xyz">BB Usage Portal</button>
            <button class="btn xyz">CSC Portal</button>
          </div>
       </div>
        <div class="menuItems">
            <ul>
                <li><button class="rightBtns" ><img src="../../../assets/Path 41.svg" alt=""></button></li>
                <li><button class="rightBtns"><img src="../../../assets/Path 39.svg" alt=""></button></li>
                <li><button class="rightBtns" ><img src="../../../assets/Path 36.svg" alt=""></button></li>
            </ul>
        </div>
   </div>
</header>

