<div class="white">
    <header>
        <div class="d-flex" style="padding: 10px 20px;">
            <div class="col-2">
                <span class="title">SR History</span>
            </div>
            <div class="col-3">
                <input type="serch" name="" id=""><img src="../../../assets/icons/search.svg" alt="">
            </div>
            <div class="d-flex">
                <div class="dropdown">
                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      DSL
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">A</a>
                      <a class="dropdown-item" href="#">B</a>
                      <a class="dropdown-item" href="#">C</a>
                    </div>
                  </div>
                  <div class="d-flex" style="margin-right: 5px;">
                    <label for="dateofbirth">From</label>
                    <input class="abc" type="date" name="dateofbirth" id="dateofbirth">
                    <label for="dateofbirth">To</label>
                    <input class="abc" type="date" name="dateofbirth" id="dateofbirth">
                  </div>
                  <button class="btn" style="background-color: #A1D064 !important; color: white; margin-right: 5px;">New SR</button>
                  <button class="btn" style="background-color: #A1D064 !important; color: white;"> SR History</button>
            </div>
        </div>
    </header>
    <div style="padding: 0px 25px;">
        <hr>
    </div>
    <section class="col-12" style="padding: 10px 20px; width: 100%;" >
        <div class="d-flex">
            <div class="col-1" style="margin: 0px; padding: 0px ;">
                <label style="margin: 0px; background-color: #E55B5B !important; color: white; font-size: 13px; font-weight: bold;width: 100%;padding:5px; text-align: center;">Oct 06 <br> 2018</label>
            </div>
            <div class="col-11" style="border: 1px solid #ee5555; margin: 0px; padding: 0px;"> 
                <div class="d-flex tabs">
                    <div class="col-4"><h6 class="tabItems" style="color: #EB2121;">SR No: 1-784738473</h6></div>
                    <div class="col-4"><h6 class="tabItems"  >SR DETAILS</h6></div>
                    <div class="col-4"><h6 class="tabItems" >INTERACTIONS</h6></div>
                </div>
                <div>
                    <div class="white first" >
                        <div class="white d-flex" style="width: 100%; height: 25px; border: 1px solid #E3E3E3; border-radius: 3px;">
                            <div style="width: 25%; background-color: #EBEBEB !important"><h6 style="text-align: center;">Type</h6></div>
                            <div style="width: 25%;" class="white" ><h6 class="white" style="text-align: center;"> Corporate</h6></div>
                            <div style="width: 25%;background-color: #EBEBEB !important" ><h6  style="text-align: center; ">Sub Type</h6></div>
                            <div style="width: 25%;" class="white"><h6 class="white" style="text-align: center; color: #E3E3E3; text-decoration: underline;">05</h6></div>
                        </div>
                        <div class="white d-flex" style="width: 100%; height: 25px;border: 1px solid #E3E3E3; border-top: none !important; border-radius: 3px;">
                            <div style="width: 25%; background-color: #EBEBEB !important"><h6  style="text-align: center; background-color: transparent">Status</h6></div>
                            <div style="width: 25%;" class="white"><h6 class="white" style="text-align: center; color: #FF5656; text-decoration: underline;">01</h6></div>
                            <div style="width: 25%; background-color: #EBEBEB !important"><h6 style="text-align: center; ">Lead Time</h6></div>
                            <div style="width: 25%;"class="white"><h6 class="white" style="text-align: center; color: #FF5656;">01</h6></div>
                        </div>
                        <div style="margin-top: 10px;">
                            <h6 style="font-size: 11px; color: #3F8A66;">Notes/Description</h6>
                            <p style="font-size: 11px;">There is a lot more things to discuss in this step. Basically it depends on how you and your team wants to do. You can follow design sprint to get quick design, and enhance it later. </p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
</div>