<div class="white right" style="width: 100%; height: 100%;">
    <header>
        <a class="btn font-weight-bold" style="width: 90%; text-align: left; font-size: 12px;">Product/Service Details </a>
        <img src="../../../assets/icons/Path 20.svg" alt="">
    </header>
    <div class="d-flex" style="background-color: #F2F2F2; margin-top: 3px;">
        <a class="btn font-weight-bold" style="width: 80%; text-align: left; font-size: 12px;">PSTN </a>
        <div class="d-flex" style="background-color: transparent;">
            <button class="btn" style="background-color: #41C10B; color: white; font-size: 8px; border-radius: 20px; margin: 5px 5px;">Active</button>
            <img style="margin-right: 15px;" src="../../../assets/icons/gray down mini.svg" alt="">
        </div>
    </div>
    <div style="background-color: #F2F2F2; margin-top: 3px;">
        <div class="d-flex" style="width: 100%; background-color: transparent;">
            <a class="btn font-weight-bold" style="width: 80%; text-align: left; font-size: 12px;">Broadband </a>
            <div class="d-flex" style="background-color: transparent;">
                <img style="margin-right: 15px;" src="../../../assets/icons/pink ex.svg" alt="">
                <button class="btn" style="background-color: #41C10B; color: white; font-size: 8px; border-radius: 20px; margin: 5px 5px;">Active</button>
                <img style="margin-right: 15px;" src="../../../assets/icons/gray up mini.svg" alt="">
            </div>
        </div>
        <div class="white d-flex" style="height: 248px; padding: 0px 7px">
            <ul class="col-6">
                <li>Billing Status</li>
                <li>Package</li>
                <li>User Name</li>
                <li>Usage</li>
                <li>Sync Status</li>
                <li>Data Volume</li>
                <li>Limit</li>
                <li>Upstream Rate</li>
                <li>Account Type</li>
            </ul>
            <ul class="col-1">
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
                <li>:</li>
            </ul>
            <ul class="col-5">
                <li class="bold">Active /Suspended</li>
                <li class="bold">1MB Cap</li>
                <li class="bold">DDFF</li>
                <li class="bold">44 Gbs</li>
                <li class="bold">Y/N</li>
                <li class="bold">10GB/ 20GB/ 40GB</li>
                <li class="bold">1024</li>
                <li class="bold">256</li>
                <li class="bold">GPON/ Cooperate/ Individual</li>
            </ul>
        </div>
    </div>
    <div class="d-flex" style="background-color: #F2F2F2; margin-top: 3px;">
        <a class="btn font-weight-bold" style="width: 80%; text-align: left; font-size: 12px;">Smart TV </a>
        <div class="d-flex" style="background-color: transparent;">
            <button class="btn" style="background-color: #41C10B; color: white; font-size: 8px; border-radius: 20px; margin: 5px 5px;">Active</button>
            <img style="margin-right: 15px;" src="../../../assets/icons/gray down mini.svg" alt="">
        </div>
    </div>
    <div class="d-flex" style="background-color: #F2F2F2; margin-top: 3px;">
        <a class="btn font-weight-bold" style="width: 80%; text-align: left; font-size: 12px;">EVO Char Ji </a>
        <div class="d-flex" style="background-color: transparent;">
            <button class="btn" style="background-color: #41C10B; color: white; font-size: 8px; border-radius: 20px; margin: 5px 5px;">Active</button>
            <img style="margin-right: 15px;" src="../../../assets/icons/gray down mini.svg" alt="">
        </div>
    </div>
</div>