.right img{
    background-color: transparent;
}
header{
    background-color: #3F8A66;
}
header a{
    color: white;
}
ul{
    list-style: none;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}
li{
    background-color: transparent;
    font-size: 11px;
}
.bold{
    font-weight: bold;
}