<div class="white right" style="width: 100%;">
    <header>
        <a class="btn font-weight-bold" style="width: 90%; text-align: left; color: white; font-size: 12px;">CTI Toolkit </a>
        <img src="../../../assets/icons/Path 20.svg" alt="">
    </header>
    <div class="white d-flex">
        <ul >
            <li>IVR Trail</li>
            <li>Queue Time</li>
            <li>Repeat Count</li>
        </ul>
        <ul>
            <li>:</li>
            <li>:</li>
            <li>:</li>
        </ul>
        <ul>
            <li class="bold">1236>CLI>Language>Skill>Service No</li>
            <li class="bold">33 Sec</li>
            <li class="bold">3</li>
        </ul>
    </div>
</div>