/* You can add global styles to this file, and also import other style files */
*{
    background-color: #E3E3E3;

    margin: 0px;
    padding: 0px;;
}
body{
    height: 60pc;
}
.white{
    background-color:  white;
}