<div>
    <div class="input-group mb-3" >
        <input style="height: 40px;" type="text" class="form-control" placeholder="Search Customer  (ID, PSTN, Mobile Number, Service ID, SR Number)"  aria-describedby="basic-addon2">
        <div class="input-group-append" style="height: 40px;">
            <a class="btn menu" style="background-color: white;" type="button"><img  src="../../../assets/icons/search.svg" alt=""></a>
            <a class="btn menu" type="button"><img src="../../../assets/icons/menu.svg" alt=""></a>
        </div>
    </div>
    <div >
        <div class="d-flex white justify-content-end first" >
            <div class="white" style="width: 50%;">
                <span style="font-size: 18px; font-weight: bold; vertical-align: middle; color: #009DD8;">Salman Ahmed Khan <small style="font-size: 14px; font-weight: bold;">(Blacklisted)</small></span>
            </div>
            <div class="white" style="width: 50%;"> 
                <div class="d-flex btngrp" role="group" aria-label="Basic example">
                    <a type="button" class="btn" style="width: 15%"><img src="../../../assets/icons/Path 26.svg" alt=""></a>
                    <a type="button" class="btn" style="width: 15%"><img src="../../../assets/icons/Group 149.svg" alt=""></a>
                    <a type="button" class="btn" style="width: 40% ; background-color: #A2A2A2; color: white;">CRM 360</a >
                    <a type="button" class="btn" style="width: 20%; background-color: #A2A2A2; color: white;">Edit</a>
                  </div>
            </div> 
        </div>

        <div class="white first" >
            <div class="white d-flex" style="width: 100%; height: 25px; border: 1px solid #E3E3E3; border-radius: 3px;">
                <div style="width: 25%;"><h6 style="text-align: center;">Customer Type</h6></div>
                <div style="width: 25%;" class="white" ><h6 class="white" style="text-align: center;"> Corporate</h6></div>
                <div style="width: 25%;"><h6  style="text-align: center;">Registered Num</h6></div>
                <div style="width: 25%;" class="white"><h6 class="white" style="text-align: center; color: #E3E3E3; text-decoration: underline;">05</h6></div>
            </div>
            <div class="white d-flex" style="width: 100%; height: 25px;border: 1px solid #E3E3E3; border-top: none !important; border-radius: 3px;">
                <div style="width: 25%; background-color: #FF5656;"><h6  style="text-align: center; background-color: transparent; color: white;">Blacklist</h6></div>
                <div style="width: 25%;" class="white"><h6 class="white" style="text-align: center; color: #FF5656; text-decoration: underline;">01</h6></div>
                <div style="width: 25%;"><h6 style="text-align: center;">Open SR's </h6></div>
                <div style="width: 25%;"class="white"><h6 class="white" style="text-align: center; color: #FF5656;">01</h6></div>
            </div>
        </div>
        <div class="white first">
            <div class=" white d-flex" style="width: 100%;">
                <div class=" white" style="width: 20%;">
                    <ul> 
                        <li>Service ID</li>
                        <li>Name</li>
                        <li>Address</li>
                        <li>Mobile No</li>
                        <li>Email</li>
                        <li>Service Status</li>
                        <li>Region</li>
                        <li>Exchange</li>
                        <li>BM Name</li>
                    </ul>
                </div>
                <div class=" white" style="width: 5%;">
                    <ul>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                    </ul>
                </div>
                <div class=" white" style="width: 20%;">
                    <ul>
                        <li>425752642</li>
                        <li>Salman</li>
                        <li>Gulberg</li>
                        <li>33344444555</li>
                        <li>salman@abc.com</li>
                        <li>PSTN , BB, EVO</li>
                        <li>Active</li>
                        <li>LTR-S</li>
                        <li>Gulberg</li>
                    </ul>
                </div>
                <div class=" white" style="width: 30%;">
                    <ul> 
                        <li>Connection Category</li>
                        <li>CNIC</li>
                        <li>Address</li>
                        <li>E-Bill</li>
                        <li>SMS Alert Billing</li>
                        <li>Customer Segment</li>
                        <li>Service</li>
                        <li>Connection Type</li>
                        <li>Connection Subtype</li>
                    </ul>
                </div>
                <div class=" white" style="width: 5%;">
                    <ul>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                        <li>:</li>
                    </ul>
                </div>
                <div class=" white" style="width: 20%;">
                    <ul>
                        <li>Azim</li>
                        <li>35202787987</li>
                        <li>Gulberg</li>
                        <li>Yes</li>
                        <li>Yes/No</li>
                        <li>Yes/No</li>
                        <li>Gold</li>
                        <li>ABC</li>
                        <li>XYZ</li>
                    </ul>
                </div>
            </div>
        </div>      
    </div>
</div>